#app {
    font-family: 'Montserrat', sans-serif;
}

.router-link-exact-active {
    font-weight: bold;
}

.btn-info {
    background-color: #009fe6;
}

.card-freelancer {
    border-radius: 12px;
}

.img-fluid {
    border-radius: 12px;
    width: 100%;
    object-fit: cover;
    height: 360px;
}

.card-img-top {
    width: 100%;
    object-fit: cover;
    height: 200px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}